* {
	margin: 0;
	padding: 0;
	font-family: 'Cafe24Supermagic-Bold-v1.0';
}

@font-face {
	font-family: 'Cafe24Supermagic-Bold-v1.0';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

body {
	background: #bfbfbf;
}

#back {
	font-size: 25px;
	color: #fff;
	margin-left: 10px;
}

a {
	text-decoration-line: none;
}

#top-btn {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 999;
	background-image: url(topicon.png);
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	width: 68px;
	height: 68px;
}

.cardMain {
	margin-top: 30px;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 50vh;
}

.cardMain #photo {
	border: 1px solid #fff;
	box-shadow: 0 0 10px 0 #fff;
}

.cardImages {
	border-radius: 20%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	width: 400px;
	height: 550px;
	margin-top: 30px;
}

.cardStory {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #333333;
	margin-top: 250px;
}

p {
	font-size: 20px;
}
/*블로그, 깃허브 링크 걸기 추가 및 색상 변경*/
.cardStory a {
	font-size: 20px;
	
}

.cardStory a:link {
	color: #333333;
}

.cardStory a:link:hover {
	color: #333333;
}

.cardStory a:visited {
	color: #333333;
}

.comment-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 320px auto 50px auto;
}

.comment-wrap .row #comment {
	width: 300px;
}

.comment-wrap .row .col-auto button {
	width: 65px;
	margin: auto 5px auto 5px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.commentBox {
	margin: 50px;
}

.commentBox #card {
	position: relative;
	margin: 5 0px;
	word-break: break-all;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.commentBox #card .col {
	width: 1000px;
	
}

.commentBox #card .col .card-body {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	background-color: #e8e8e8 ;
	background-color: #4d648d;
	color: #cee8ff;
}
